@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-video {

    background-image: url("../public/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1; */
}

.css-selector {
    background: linear-gradient(113deg, #1ba17e, #1d4916);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}